@media (max-width: 767px) {
  
  nav {
   padding: 12px 24px;
   position: relative;
   z-index: 100;
  }
  
  #hamburger {
    display: flex;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 100%;
    
    gap: 2rem;
    font-size: 1.2rem;
    background: #111111;
    
    
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    
    transition: height 0.4s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .nav-links.active {
    display: flex;
    height: calc(100dvh - var(--header-height));
    opacity: 1;
    visibility: visible;
  }
  
  .nav-links .social-icons {
    display: flex;
    gap: 1.5rem;
    position: absolute;
    bottom: 1.5rem;
  }
  .nav-links .social-icons .social-icon{
    fill: currentColor;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  
  .nav-links {
    gap: .8rem;
    padding-right: 10px;
  }
  
  .nav-links a{
    font-size: .85rem;
  }
  
  .faq-question {
    font-size: 1.25rem;
  }
  
  .faq-answer {
    font-size: 1.1rem !important;
  }
  
 #contact h4 {
   font-size: 1.1rem;
 }
 
 .trainer-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

  #contact {
    font-size: 130%;
  }
  
}



@media (min-width: 1024px) {
  
  body h2 {
    font-size: 200% !important;
  }

  nav {
    padding-inline: 2rem;
  }
  
  #testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .testimony:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1;
  }

.testimony:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2;
  }

.testimony:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 1/3;
  }
  
  .trainer-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  }
  
  .nav-links {
    gap: 2rem;
    padding-right: 1rem;
  }
  
  #hero h1 {
    font-size: clamp(2rem, 3vw, 3rem);
  }
  
  #hero .hero-desc {
  font-size: 1.5rem;
  }
  
  #about h4 {
   font-size: 28px;
   margin-top: 3rem;
  }
  
  .ctaBtn {
    font-size: 1.3rem;
  }
  
  #membership {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grid-container {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 3rem !important;
    font-size: 140% !important;
  }
  
  .join {
    font-size: 1.3rem;
  }
  
  #bmi {
    margin-inline: 6rem;
  }
  
  #bmi .results{
    text-align: center;
  }
  
  #bmi-form :is(.erroMsg, label, input, button){
    font-size: 150% !important;
  }
  
  .results .result {
    font-size: 130% !important;
  }
  
  .faq-question {
    font-size: 1.5rem !important;
    padding: 2.4rem 0;
    height: auto;
    display: flex;
    align-items: center;
  }
  
  .faq-answer {
    padding-inline: 1rem;
  }
  
  #contact h2 {
    font-size: 1.6rem;
  }
  
  #contact .desc {
  font-size: 1.4rem;
  }
  
  .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .contact-wrapper div{
    text-align: center;
  }
  
  .contact-wrapper div h3{
    font-size: 1.6rem;
  }
  
  
  .contact-wrapper div:nth-of-type(5) {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #contact div a{
    font-size: 1.5rem;
}

  #contact .hours p {
    font-size: 1.3rem;
  }
  
  #contact .hours strong{
    padding-inline: 4px;
  }
  
  #contact div h4{
    font-size: 1.4rem;
  }
  
}

@media (max-width: 950px) and (max-height: 500px) and (orientation: landscape) {
  
  nav {
    padding: .8rem;
  }
  
  .nav-links {
    gap: .8rem;
  }
  
  .nav-links a{
    font-size: .8rem;
  }
  
  .grid-container {
    grid-template-columns: 1fr !important;
    width: 100%;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  
}
